.nav, .header, .search, .wrap {
    width: 1300px;
    margin: 0 auto;
    padding: 10px 20px;
}

.nav_line {
    width: 100%;
    background-color: lightgray;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav_links {
    height: 20px;
    display: flex;
    align-items: center;
    & a {
        color: grey;
        text-decoration: none;
        margin: 5px 20px;
}
}

.header {
    display: flex;
    justify-content: space-between;   
}

.logo {
    background-image: url(../images/logo2.gif);
    height: 60px;
    width: 210px;
    background-size: contain;
    background-repeat: no-repeat;
}

.cart {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    & span {
        color: gray;
    }
}

.search_line {
    width: 100%;
    background-color: orange;
}

.search {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search_select {
    background-color: orange;
    height: 40px;
    color: #fff;
    width: 120px;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    &:hover {
        color: orange;
        background-color: #fff;
        
    }
}

.search_text {
    width: 60%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 5px;
    color: gray;
}

.search_button {
    width: 120px;
    height: 40px;
    background-color: orange;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    &:hover {
        color: orange;
        background-color: #fff;
    }
}

.wrap {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.menu {
    width: 30%;
}

.menu_search {
    color: gray;
    padding: 5px 10px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    margin: 5px 0px;
}

.menu_item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    height: 40px;
}

.content {
    width: 70%;
}

.content_menu {
    color: #000;
    & span {
        color: gray;
    }
}

.content_button_block {
    display: flex;
    justify-content: space-between;
}

.cont_but_type1 {
    width: 120px;
    height: 40px;
    background-color: #fff;
    border: 1px solid orange;
    border-radius: 5px;
}

.cont_but_type2 {
    width: 120px;
    height: 40px;
    background-color: orange;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.content_select {
    height: 40px;
    color:gray;
    width: 150px;
    padding: 5px;
    margin: 10px 5px;
    border: 0px;
    border-radius: 5px;
}

.item_bd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid gray;
    & span {
        font-size: 16px;
        color: gray;
        font-weight: normal;
    }
}

.item_img {
    background-image: url(../images/stoika.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 160px;
    height: 120px;
}

.item_text {
    width: 300px;
    padding: 10px;
}

.item_price {
    width: 100px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    
}

.buy {
    text-align: right;
}

.cart_button {
    width: 140px;
    height: 40px;
    background-color: orange;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px; 
}

.map a {
    color: gray;
}